<!doctype html>
<html>
	<head>
	<title>Hello</title>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="script.js"></script>
	</head>
	<body ng-app="TestApp">
	<hr>
	<div class="container">
		<div class="panel" ng-controller="FirstCtrl">
			<div class="panel-heading">
			<h4>1</h4>
			</div>
			<input type="text" ng-model="data.msg">
			<hr>
			<h1>Text Entered: {{data.msg}}</h1>
		</div>

		<div class="panel" ng-controller="SecondCtrl">
			<div class="panel-heading">
			<h4>1</h4>
			</div>
			<input type="text" ng-model="data.msg">
			<hr>
			<h1>Text Entered: {{data.msg}}</h1>
		</div>

		<div class="panel">
			<div class="panel-heading">
				<h4>2</h4>
			</div>
			<div ng-controller="Ctrl1">
				<h1>{{txt}}</h1>
			</div>
		</div>
	</div>
	</body>
</html>